@import "./common/sass/base.scss";
@import "./common/sass/common.scss";
html, body {
  margin: 0;
  background:#ff8292;
  font-family: PingFang,miui, PingHei,San Francisco, MILanTing, '小米兰亭', '微软雅黑', DeliciousRoman, sans-serif;
  width:100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  height: 0;
}

.banner{
	width:100%;
	padding-top:__percent(760,1080);
	background:url(./img/banner.png) center center no-repeat;
	background-size:100% 100%;
}