.app{
	font-size:50px;
	color:red;
}

.img{
	width:66px;
	height:36px;
	background: url(./img/group_card_list_icon_lv8.png) center center no-repeat;
	background-size: 100% 100%;
}

.out{
	h1{
		color:orange;
	}
}